<html>
  <head>
    <title>Questionnaire</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Style sheet (CSS) and JavaScript scripts necessary to use Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>    

    <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
  </head>
  
  <body>
	
	<div class="container-md p-3 my-3 border bg-dark text-white" id="survey">
    <h1>Survey</h1>
    <form>
      <h2> What do you think about the visual appeal and layout of the website? </h2>
      I think:<br>
      <input type="text" name="visual" placeholder="my thoughts..." required />
      <br>
      <br>
      <h2> How would you rate how easy it is to us Walmart website to get your shopping done? </h2>
	    I think:<br>
		  <input type="radio" name="ease" value="very-difficult"> Very Difficult<br>
		  <input type="radio" name="ease" value="difficult"> Difficult<br>
      <input type="radio" name="ease" value="neutral"> Neutral<br>
      <input type="radio" name="ease" value="easy"> Easy<br>
      <input type="radio" name="ease" value="very-easy"> Very Easy<br>
      <br>
      <h2>What is the greatest strength of the current website?</h2>
      I think:<br>
      <select name="strength">
			  <option value="ease" selected="ease">Ease of Use</option>
			  <option value="speed">Speed of the site</option>
			  <option value="visual">Visual Appeal</option>
        <option value="search">Search Functionality</option>
			  <option value="accessibility">Accesibility</option>
			  <option value="other">Other</option>
      </select>
      <br>
      <h2> Which of the following issues do you have with the UI? </h2>
	    I think:<br>
		  <input type="checkbox" name="issue" value="confusing"> Confusing layout or design<br>
		  <input type="checkbox" name="issue" value="information-images"> Inadequate product information or images<br>
      <input type="checkbox" name="issue" value="search"> Ineffective search functionality<br>
      <input type="checkbox" name="issue" value="accesibility"> Insufficient accesibility features<br>
      <input type="checkbox" name="issue" value="customer-support"> Inadequate customer support options<br>
      <br>
      <h2> Do you have any feedback for the Walmart site? </h2>
      I think:<br>
      <input id="comments" name="comments" rows="4" cols="50" required></input>
      <br>
      <button type="submit" class="btn btn-warning" id="bb">Submit</button>
      <p id="thanks"></p>
    </form>
    </div>
	<script src="/assets/action.js"></script>
  </body>
</html> 